<div class="view-post-wrapper">
  <div class="card post-card">
    <div class="card-header post-header">
      <h3 class="text-center">{{post.title}}</h5>
  
    </div>
    <div class="post-info">
      <img class="profile_img" src="{{#if post.user.pets.[0]}}{{post.user.pets.[0].image}}{{else}}/assets/profile_images/cat1.png{{/if}}" alt="">
  
      <div class="card-body">
        <p class="date-text">Posted by
          {{post.user.user_name}}
          on
          {{format_date post.createdAt}}</p>
        <p class="card-text">{{post.body}}</p>
      </div>
    </div>
    <div class="card-body">
      <form class="form comment-submit">
        <div class="input-group post-comment">
          <input
            type="text"
            class="form-control"
            placeholder="What do you think?"
            id="comment-message"
          />
          <button
            class="commentSubmitBtn btn"
            type="submit"
            data-postid="{{post.id}}"
          >Add Comment</button>
  
        </div>
      </form>
      {{#if post.deletable}}
      <div class="postBtnsContainer">
        <button class="editPostBtn btn" data-postid="{{post.id}}">Edit Post</button>
            <button class="deletePostBtn btn" data-postid="{{post.id}}">Delete Post</button>
      </div>
          {{/if}}
    </div>
  </div>
  <div class="comment-section">
    <h3 class="text-center">Comments:</h3>
    <div class="comment-container">
      {{#if post.comments}}
        {{#each post.comments as |comment|}}
          <div class="card">
      <div class="comment-info">
        <img class="profile_img" src="{{#if comment.user.pets.[0]}}{{comment.user.pets.[0].image}}{{else}}/assets/profile_images/cat1.png{{/if}}" alt="">
              <div class="card-body">
                <p>{{body}}</p>
              </div>
      </div>
            <div class="card-body">
              Comment by
              {{user.user_name}}
              on
              {{format_date this.createdAt}}
            </div>
            {{#if deletable}}
            <div class="postBtnsContainer">
              <button class="deleteCommentBtn btn" data-comment_id="{{id}}">Delete
                Comment</button>
                </div>
            {{/if}}
          </div>
        {{/each}}
      {{else}}
        <p class="text-center filler-text">No comments on this post.</p>
      {{/if}}
    </div>
  </div>
</div>
<script src="/js/viewpost.js"></script>